<!--<mat-sidenav-container>-->
  <!--<mat-sidenav-content>-->
    <!--<form [formGroup]="userDataForm" (ngSubmit)="onSubmit()" novalidate>-->

      <!-- userName -->
      <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput placeholder="UserName" formControlName="username">-->
        <!--&lt;!&ndash; error&ndash;&gt;-->
        <!--<mat-error *ngIf="!userDataForm.controls.username.untouched && !userDataForm.controls.username.valid">-->
          <!--Password must be at least <strong>3</strong> characters-->
        <!--</mat-error>-->
      <!--</mat-form-field>-->

      <!--&lt;!&ndash; email &ndash;&gt;-->
      <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput type="email" placeholder="Email" formControlName="email">-->
        <!--&lt;!&ndash; error&ndash;&gt;-->
        <!--<mat-error *ngIf="!userDataForm.controls.email.untouched && !userDataForm.controls.email.valid">-->
          <!--Email must be a valid email address-->
        <!--</mat-error>-->
      <!--</mat-form-field>-->

      <!--&lt;!&ndash; password &ndash;&gt;-->
      <!--<mat-form-field class="example-full-width">-->
        <!--<input matInput type="password" placeholder="Password" formControlName="password">-->
        <!--&lt;!&ndash; error&ndash;&gt;-->
        <!--<mat-error *ngIf="!userDataForm.controls.password.untouched && !userDataForm.controls.password.valid">-->
          <!--Password must be at least <strong>6</strong> characters with at least <strong>one number</strong>-->
        <!--</mat-error>-->
      <!--</mat-form-field>-->

       <!--Gender -->
      <!--<div class="misc-bottom-padding">-->
      <!--<mat-label>Gender:</mat-label>-->
      <!--<mat-radio-group aria-label="Select an option" formControlName="gender">-->
      <!--&lt;!&ndash;<mat-radio-button value="Male">Male</mat-radio-button>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-radio-button value="Female">Female</mat-radio-button>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-radio-group>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash; Date picker &ndash;&gt;-->
      <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
      <!--&lt;!&ndash;<input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"&ndash;&gt;-->
      <!--&lt;!&ndash;(dateChange)="date($event)">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-datepicker #picker></mat-datepicker>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash; Class &ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-label>Grade</mat-label>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-select [(value)]="selected" formControlName="grade">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-option [value]="gradeArray" *ngFor="let gradeArray of GradeArray">{{gradeArray}}&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->

      <!--&lt;!&ndash;&lt;!&ndash; Add Subjects &ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-form-field class="multiple-items">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-chip-list #chipList>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-chip *ngFor="let subjectsArray of SubjectsArray" [selectable]="selectable" [removable]="removable"&ndash;&gt;-->
      <!--&lt;!&ndash;(removed)="remove(subjectsArray)">&ndash;&gt;-->
      <!--&lt;!&ndash;{{subjectsArray.name}}&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-chip>&ndash;&gt;-->
      <!--&lt;!&ndash;<input placeholder="Add subjects" [matChipInputFor]="chipList"&ndash;&gt;-->
      <!--&lt;!&ndash;[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"&ndash;&gt;-->
      <!--&lt;!&ndash;(matChipInputTokenEnd)="add($event)">&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-chip-list>&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->

      <!--&lt;!&ndash; On Submit &ndash;&gt;-->
      <!--<div class="button-wrapper">-->
        <!--<button mat-flat-button color="primary" [disabled]="!userDataForm.valid">Sign Up</button>-->
      <!--</div>-->
      <!--<div-->
        <!--class="alert alert-danger"-->
        <!--role="alert"-->
        <!--*ngIf="isSignUpFailed"-->
      <!--&gt;-->
        <!--Signup failed!<br/>{{ errorMessage }}-->
      <!--</div>-->
      <!--<div class="alert alert-success" *ngIf="isSuccessful">-->
        <!--Your registration is successful!-->
      <!--</div>-->

    <!--</form>-->
  <!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->


<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Stepper</mat-card-title>
        <mat-card-subtitle>Check the </mat-card-subtitle>
        <mat-horizontal-stepper [linear]="isLinear">
          <mat-step [stepControl]="userDataForm">
            <form [formGroup]="userDataForm">
              <ng-template matStepLabel>Fill out your information</ng-template>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="UserName" formControlName="username">
                <!-- error-->
                <mat-error *ngIf="!userDataForm.controls.username.untouched && !userDataForm.controls.username.valid">
                  Password must be at least <strong>3</strong> characters
                </mat-error>
              </mat-form-field>

              <!-- email -->
              <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Email" formControlName="email">
                <!-- error-->
                <mat-error *ngIf="!userDataForm.controls.email.untouched && !userDataForm.controls.email.valid">
                  Email must be a valid email address
                </mat-error>
              </mat-form-field>

              <!-- password -->
              <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password" formControlName="password">
                <!-- error-->
                <mat-error *ngIf="!userDataForm.controls.password.untouched && !userDataForm.controls.password.valid">
                  Password must be at least <strong>6</strong> characters with at least <strong>one number</strong>
                </mat-error>
              </mat-form-field>
              <div>
                <button mat-raised-button color="warn" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="accountDataForm">
            <form [formGroup]="accountDataForm">
              <ng-template matStepLabel>Fill out your account data</ng-template>
              <mat-form-field>
                <input matInput placeholder="Account name" formControlName="accountName" required>
              </mat-form-field>
              <div>
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="warn" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-raised-button (click)="onSubmit()" color="accent" matStepperPrevious>Sign Up</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
