<mat-sidenav-container class="display-middle">
  <mat-sidenav-content>
    <mat-card>
      <mat-card-content>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Fill out your username and passxord </mat-card-subtitle>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

      <!-- userName -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="UserName" formControlName="username">
        <!-- error-->
        <mat-error *ngIf="!loginForm.controls.username.untouched && !loginForm.controls.username.valid">
          Password must be at least <strong>3</strong> characters
        </mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <!-- error-->
        <mat-error *ngIf="!loginForm.controls.password.untouched && !loginForm.controls.password.valid">
          Password must be at least <strong>6</strong> characters with at least <strong>one number</strong>
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput placeholder="Email" formControlName="email">-->
      <!--</mat-form-field>-->

      <!-- Gender -->
      <!--<div class="misc-bottom-padding">-->
      <!--<mat-label>Gender:</mat-label>-->
      <!--<mat-radio-group aria-label="Select an option" formControlName="gender">-->
      <!--<mat-radio-button value="Male">Male</mat-radio-button>-->
      <!--<mat-radio-button value="Female">Female</mat-radio-button>-->
      <!--</mat-radio-group>-->
      <!--</div>-->

      <!-- Date picker -->
      <!--<mat-form-field>-->
      <!--<input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"-->
      <!--(dateChange)="date($event)">-->
      <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #picker></mat-datepicker>-->
      <!--</mat-form-field>-->

      <!--&lt;!&ndash; Class &ndash;&gt;-->
      <!--<mat-form-field>-->
      <!--<mat-label>Grade</mat-label>-->
      <!--<mat-select [(value)]="selected" formControlName="grade">-->
      <!--<mat-option [value]="gradeArray" *ngFor="let gradeArray of GradeArray">{{gradeArray}}-->
      <!--</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->

      <!--&lt;!&ndash; Add Subjects &ndash;&gt;-->
      <!--<mat-form-field class="multiple-items">-->
      <!--<mat-chip-list #chipList>-->
      <!--<mat-chip *ngFor="let subjectsArray of SubjectsArray" [selectable]="selectable" [removable]="removable"-->
      <!--(removed)="remove(subjectsArray)">-->
      <!--{{subjectsArray.name}}-->
      <!--<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
      <!--</mat-chip>-->
      <!--<input placeholder="Add subjects" [matChipInputFor]="chipList"-->
      <!--[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"-->
      <!--(matChipInputTokenEnd)="add($event)">-->
      <!--</mat-chip-list>-->
      <!--</mat-form-field>-->

      <!-- On Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary" [disabled]="!loginForm.valid">Submit</button>
      </div>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="isLoginFailed"
      >
        Login failed: {{ errorMessage }}
      </div>
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>

    </form>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>


<!--<mat-sidenav-container>-->
<!--<mat-sidenav-content>-->
<!--<div fxLayout="row" fxLayoutWrap="wrap">-->
  <!--&lt;!&ndash; Card column &ndash;&gt;-->
  <!--<div fxFlex.gt-sm="100%" fxFlex="100">-->
    <!--<mat-tab>-->
      <!--<mat-card-content>-->
        <!--<mat-card-title>Form Basic Layouts</mat-card-title>-->
        <!--&lt;!&ndash; ============================================================== &ndash;&gt;-->
        <!--&lt;!&ndash; column &ndash;&gt;-->
        <!--&lt;!&ndash; ============================================================== &ndash;&gt;-->
        <!--<form class="basic-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
          <!--<div fxLayout="row wrap">-->
            <!--&lt;!&ndash; column &ndash;&gt;-->
            <!--<div fxFlex.gt-sm="100" fxFlex="100">-->
              <!--<mat-form-field class="example-full-width">-->
                <!--<input matInput placeholder="UserName" formControlName="username">-->
                <!--&lt;!&ndash; error&ndash;&gt;-->
                <!--<mat-error *ngIf="!loginForm.controls.username.untouched && !loginForm.controls.username.valid">-->
                  <!--Password must be at least <strong>3</strong> characters-->
                <!--</mat-error>-->
              <!--</mat-form-field>-->
            <!--</div>-->
            <!--&lt;!&ndash; column &ndash;&gt;-->
            <!--<div fxFlex.gt-sm="100" fxFlex="100">-->
              <!--<mat-form-field class="example-full-width">-->
                <!--<input matInput type="password" placeholder="Password" formControlName="password">-->
                <!--&lt;!&ndash; error&ndash;&gt;-->
                <!--<mat-error *ngIf="!loginForm.controls.password.untouched && !loginForm.controls.password.valid">-->
                  <!--Password must be at least <strong>6</strong> characters with at least <strong>one number</strong>-->
                <!--</mat-error>-->
              <!--</mat-form-field>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="button-wrapper">-->
            <!--<button mat-flat-button color="primary" [disabled]="!loginForm.valid">Submit</button>-->
          <!--</div>-->
          <!--<div class="alert alert-danger"-->
               <!--role="alert"-->
               <!--*ngIf="isLoginFailed">-->
            <!--Login failed: {{ errorMessage }}-->
          <!--</div>-->
        <!--</form>-->
      <!--</mat-card-content>-->
    <!--</mat-tab>-->
  <!--</div>-->
<!--</div>-->
<!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
