<div>
  <div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Basic Tab</mat-card-title>
        </mat-card-content>
        <mat-tab-group>
          <mat-tab label="Users's list">
            <mat-card-content>
              <app-create-event [accountId]="accountId"></app-create-event>
            </mat-card-content>
          </mat-tab>
          <mat-tab label="Group's list">
            <mat-card-content>Content 2</mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>

