<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Create Event</mat-card-title>
        <section class="example-section">
          <form [formGroup]="radioButtonFormGroup">
            <label class="m-l-30">Choose the event Types :</label>
            <mat-radio-group formControlName="eventCategory">
              <mat-radio-button class="m-l-30 m-r-20" color="accent" value="project">
                Project event
              </mat-radio-button>
              <mat-radio-button class="m-l-30 m-r-20" color="primary" value="team">
                Team event
              </mat-radio-button>
            </mat-radio-group>
          </form>
        </section>
        <br/>
        <section class="example-section">
          <form [formGroup]="slideToggleFormGroup">
            <label class="m-l-30">Repetitive event :</label>
            <mat-slide-toggle class="m-l-30" formControlName="eventRecurrence"></mat-slide-toggle>
          </form>
        </section>
        <mat-horizontal-stepper [linear]="isLinear">
          <mat-step [stepControl]="repetitiveEvent ? eventHourAndDatesForm : eventDataForm">
            <ng-template matStepLabel>Fill the event informations</ng-template>
            <form [formGroup]="eventDataForm" *ngIf="!repetitiveEvent">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Event description" formControlName="name">
                <!-- error-->
                <mat-error *ngIf="!eventDataForm.controls.name.untouched && !eventDataForm.controls.name.valid">
                  name must be at least <strong>3</strong> characters
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput [ngxMatDatetimePicker]="picker"
                       placeholder="Choose date and time"
                       formControlName="eventDate"
                       (focus)="picker.open()"
                       [min]="minDate" [max]="maxDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
                                         [stepHour]="stepHour" [stepMinute]="stepMinute">
                </ngx-mat-datetime-picker>
              </mat-form-field>
              <div>
                <button mat-raised-button color="warn" matStepperNext>Next</button>
              </div>
            </form>
            <form [formGroup]="eventHourAndDatesForm" *ngIf="eventHourAndDatesForm && repetitiveEvent">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Event description" formControlName="name">
                <!-- error-->
                <mat-error *ngIf="!eventDataForm.controls.name.untouched && !eventDataForm.controls.name.valid">
                  name must be at least <strong>3</strong> characters
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput
                       [format]="24"
                       formControlName="eventHour"
                       [ngxTimepicker]="defaultValue"
                       placeholder="Choose time" readonly>
                <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
              </mat-form-field>

              <app-multi-select-date-picker class="floatRight multiSelectDate"
                                            [placeholder]="'Choose dates'"
                                            [group]="eventHourAndDatesForm"
                                            [control]="eventHourAndDatesForm.controls['eventDates']"
                                            (dateList)="setDateList($event)">
              </app-multi-select-date-picker>

              <div>
                <button mat-raised-button color="warn" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="teamDataForm" *ngIf="showTeamStep">
            <form [formGroup]="teamDataForm">
              <ng-template matStepLabel>Choose the concerned team</ng-template>
              <mat-form-field>
                <mat-label>Select the team</mat-label>
                <mat-select>
                  <mat-option *ngFor="let team of teamList"
                              [value]="team.teamId"
                              (onSelectionChange)="setSelectedTeam(team)">
                    {{team.teamName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="warn" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="invitedUserDataForm">
            <form [formGroup]="invitedUserDataForm">
              <ng-template matStepLabel>Invite one or many users to the event</ng-template>
              <add-users-to-event [invitedUserDataForm]="invitedUserDataForm"
                                  [accountId]="accountId">
              </add-users-to-event>
              <div>
                <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                <button mat-raised-button color="warn" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-raised-button (click)="onSubmit()" color="accent" matStepperNext>Sign Up</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
